{{ define "plates" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/templates/Plates/1cee0f95-73e4-43ff-be5d-bd0a008f2678.png">
    <link rel="stylesheet" href="/templates/plates/plates.css">
    <title>Блины в наличии</title>
</head>
<body>
    {{ range . }}

    <div class="item">
        <h3> Вес: {{ .Weight }}кг </h3>
        <h3> Количество: {{ .Amount }} </h3>
    </div>

    {{ end }}
</body>
</html>

{{ end }}